* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

img {
  max-width: 100%; /* Запобігає розтягненню зображень за межі їхнього контейнера */
  height: auto; /* Зберігає пропорції зображення */
}

/* Скидання стилів для списку */
ul,
ol {
  list-style: none; /* Видаляє маркери списку */
  padding: 0; /* Скидає внутрішній відступ списку */
  margin: 0; /* Скидає зовнішній відступ списку */
}

li {
  margin: 0; /* Скидає зовнішній відступ для елементів списку */
  padding: 0; /* Скидає внутрішній відступ для елементів списку */
}
